@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body{
    background-color: #3e3e3e;
     color: #fff;
}

section{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.title{
    margin: 2rem 0rem;
    font-size: 3rem;
}

.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding: 1rem;
    border-bottom: 2px solid #fff;
}

.question{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p{
    padding: 1rem;
    line-height: 1.5;
    font-size: 1.3rem;
    text-align: justify;
    /* font-weight: 200; */
}

.faq.active .answer{
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform .5s ease;
}

@keyframes fade{
    from{
        opacity: 0;
        transform:translateY(-10px);
    }
    to{
        opacity: 1;
        transform:translateY(0px);
    }
}